.album-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.album-name {
    font-size: 20px;
    font-weight: 700;
}

.album-card img {
    width: 300px;
    height: 200px;
}

.delete {
    margin-left: 10px;
}