.artist-list {
    display: flex;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 10px;
}

.artist-card img {
    width: 300px;
    height: 200px;
}

.not-publish {
    color: red;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
    padding: 5px 0;
}

.publish {
    margin-left: 10px;
}